.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 3rem;
  transform: translate(-50%);
  left: 50%;
  width: 100%;
}
.main_box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #e2e2e2;
  top: 1rem;
  position: relative;
  height: auto;
  width: 50%;
  background: #ffffff;
  border-radius: 8px;
  border: none;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box_tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77%;
  gap:3%
}
.btn_act {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 10rem;
  height: 3rem;
  background: #97144d;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}
.btn_dis {
  color: Black;
  display: flex;
  border: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 10rem;
  height: 3rem;
  font-size: 16px;
  border-radius: 8px;
}
.img {
  width: 1rem;
  height: 1rem;
}
.send {
  display: flex;
  width: 80%;
  gap: 3%;
}
.send input {
  width: 82%;
  font-size: 16px;
  outline: none;
  padding: 1rem 0.5rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #e2e2e2;
}
.send_btn {
  display: flex;
  cursor: pointer;
  background-color: #97144d;
  align-items: center;
  justify-content: center;
  width: 10%;
  border-radius: 8px;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #e2e2e2;
}
.response {
  letter-spacing: 2px;
  text-align: justify;
  margin-bottom: 1rem;
  width: 80%;
}

.question {
  width: fit-content;
  padding: 1rem 1rem;
  background-color: #f9f9f9;
  color: black;
  border-radius: 10px;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #e2e2e2;
  margin-top: 0.5rem;
}
.answers {
  margin-top: 0.5rem;
  width: fit-content;
  height: auto;
  padding: 1rem 1rem;
  background-color: #97144d;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #e2e2e2;
}
.slider {
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #e2e2e2;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 23rem;
  overflow-y: auto;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  flex: none;
  order: 2;
  border-radius: 8px;
  border: none;
  flex-grow: 1;
  width: 95%;
  padding: 0.5rem 0.5rem;
}

@media only screen and (max-width: 900px) {
  .main_box {
    width: 70%;
  }
  /* .send input {
    width: 90%;
  } */
}
@media only screen and (max-width: 550px) {
  .main_box{
    width: 90%;
  }
  .btn_act {
    padding: 0;
  }
  .btn_dis {
    padding: 0;
  }
  /* .slider {
    width: 100%;
  } */
  .send input{
    width: 100%;
  }
  
}
@media only screen and (max-width: 300px) {
  img {
    width: 50%;
  }
  .main_box {
    width: 100%;
  }
  .send input {
    width: 100%;
    font-size: 8px;
  }
  .btn_act {
    padding: 0rem;
    font-size: 8px
  }
  .btn_dis {
    padding: 0rem;
    font-size: 8px
  }
  /* .slider {
    width: 100%;
  } */
}
.recommend {
  height: 61.5vh;
}
